*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
background-image: url(images/bac.jpg);
background-repeat: no-repeat;
background-size: cover;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);

}


.container{
    background-color: rgb(41, 41,41);
    width:30rem;
    height:40rem;
    border-radius: 0.5rem;
}


#avatar{
width: 3rem;
height:3rem;
border-radius: 100px;
margin-right: 2rem;
object-fit: cover;





}



#logo{
    width: 8rem;
    height:2rem;
    border-radius: 100px;
    padding-left: 0.5rem;
    
}

#kudosImg{
    width: 15rem;
    height:10rem;
    display: flex;
    /* align-items: center; */
    margin:auto;
    
   

}

.imageTop{
padding-top: 2rem;
display: flex;
justify-content: end;
column-gap: 16rem;

}

.count{

    color:rgb(18, 110, 191);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#like{
font-weight: lighter;

}

#num{
    font-weight: bolder;
    
    }


h6{
margin-bottom: 1rem;
margin-top: 0.5em;


}

.details{

    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color:aliceblue;
}

.btn{

    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
}

#btn_1{
    color: rgb(41,41,41);
    width: 18em;
    height: 4em;
    font-weight: bold;
    border-radius: 0.4em;
    border-color: rgb(18, 110, 191);
    background-color:rgb(18, 110, 191); 
    
   
}


#btn_2{
    color: rgb(18, 110, 191);
    width: 18em;
    height: 4em;
    font-weight: bold;
    border-radius: 0.4em;
    border-color: rgb(18, 110, 191);
    background-color: rgb(41,41,41); 
    
   
}